
   *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    
    
}
.sidebar{

    position: fixed;
    left: 0;
    width: 130px;
    height: 100%;
    background: #c2c2c2;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgb(66, 65, 65);
    user-select: none;
}
.sidebar ul {
    display:block;
    height: 100%;
    width: 100%;
    line-height: 35px;
    font-size: 16px;
    color: bisque;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
}

.sidebar ul .home{
    margin-right: 16px;
}
.bar{

    background: white;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;   
    box-shadow: 0 3px 0 #c2c2c2;
}
.home{
  display: flex;
  justify-content: center;
    margin-top: 60px;
    width: 50%;
    display: flex;
    align-items: center;
    opacity: 0.8;

}
.play{
    margin-top: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    opacity: 0.8;
}
.text{
  font-size: 15px;
  position: center;
  color: rgba(0,0,0,0.8);
  padding-top: 10px;
}

ul li :hover{
    background: skyblue;
   
    border-radius: 10px;
}

.google_cogito{
    width: 20%;
    margin-left: 120px;
   
   
}
.logo{
    height: 40px;
    width: auto;
    margin-right: 22px;
}
.searchbar{
    border: 2px solid #c2c2c2;
    height: 30px;
    width: 500px;
    border-radius: 25px;
    margin-right: 3px;
    display: flex;
    justify-content: space-between;
}
.searchicon{
  padding-top: 1px;
  padding-left: 2px;
    height: 17px;
    width: 17px;
    margin-top: 4px;
    margin-left: 5px;
    opacity: 0.4;    
}



body {
    background-image: url('bg.jpg');
background-size: cover;
background-attachment: fixed;
    font-size: 12px;
    min-height: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.section-header {
    display: block;
    margin-top: 20px;
    position: relative;
    text-align: center;
}

section {
    padding-top: 20px;

    overflow: hidden;
    position: relative;
}

a, a:link, a:visited {
    color: #212121;
    text-decoration: none;
}

.Carousel-slider {
  padding-left: 100px;
  padding-bottom: 100px;
    height: 470px;
    position: relative;
    width: 100%;
  
}

.Carousel-slider.fullwidth {
    height: 500px;
}

.Carousel-slider.fullwidth .slider-item {
    height: 480px;
    line-height: 480px;
    width: 100%
}

.slider-wrapper {
  padding-top: -50px;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
    
	/*perspective: 800px  !important;*/
}

.slider-item {
    box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
    display: none;
    height: 320px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 320px;
    cursor: pointer;
	border: 3px solid #ffc107;
}

.indicators {
	bottom: 0;
    left: 49%;
    padding: 0;
    list-style-type: none;
    margin: 40px 0 0 -77px;
    position: absolute;

    
}

.indicators li {
    color: #255f8b;
    float: left;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    width: 16px;
    
}

.indicators li:last-child {margin: 0;}
.indicators a {
    background: #c2c2c2;
    border-radius: 8px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.indicators .active a {
	background: black;

}
.superHero1 {background-image: url(songs_poster/king_crown_poster.jpg); border-radius: 50px !important;}
.superHero2 {background: url(songs_poster/aishwarya_anand_tum_prem_ho_poster.jpg); border-radius: 50px !important;}
.superHero3 {background: url(songs_poster/barney_sku_your_eyes_poster.jpg); border-radius: 50px !important;}
.superHero4 {background: url(songs_poster/garry_sandhu_illegal_weapon_2.0_poster.jpg); border-radius: 50px !important;}
.superHero5 {background: url(songs_poster/garry_sandhu_mina_mina_poster.jpg); border-radius: 50px !important;}
.superHero6 {background: url(songs_poster/gravero_kitaab_poster.jpg); border-radius: 50px !important;}
.superHero7 {background: url(songs_poster/kc.jpg); border-radius: 50px !important;}
.superHero8 {background: url(songs_poster/king_ghumshuda_poster.jpg); border-radius: 50px !important;}
.superHero9 {background: url(songs_poster/king_maan_meri_jaan_poster.jpg); border-radius: 50px !important;}
.superHero10{background: url(songs_poster/king_oops_poster.jpg); border-radius: 50px !important;}
.superHero11{background: url(songs_poster/king_tu_aake_dekhle_poster.jpg); border-radius: 50px !important;}
.superHero12{background: url(songs_poster/mitraz_akhiyaan_poster.jpg); border-radius: 50px !important;}
.superHero13{background: url(songs_poster/mitraz_muskurahat_poster.jpg); border-radius: 50px !important;}
.superHero14{background: url(songs_poster/suzonn_farq_hai_poster.jpg); border-radius: 50px !important;}
.superHero15{background: url(songs_poster/the_prophec_dilawara_poster.jpg); border-radius: 50px !important;}
.content{
    margin-left: 35%;
    margin-top: 2%;
}
.content p{
  padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
}
.content h1{
    font-size: 50px;
    font-weight: 100;
    margin-top: 24px;
}
.head{
    width: 5%;
    padding-bottom: 1%;
}
.content a{
    display: flex;
    text-align: center;
    padding-left: 150px;
}
.content1{

  padding-left: 20%;
  padding-top: 10%;

}
.content1 h1{
  margin-right: 10%;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  margin-top: 24px;
}

  

  
 .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    
  }
  .wrapper i {
    
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -72px;
  }
  .wrapper i:last-child{
    right: -72px;
  }

  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width:auto;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid #c2c2c2;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  .arrow-scroll{
    position: relative;
    height: 4em;
  }
  .arrow{
    border: #c2c2c2;
    border-width: 0 5px 0 5px;
    display: inline-block;
    padding: 12px;
    position: absolute;
    top: 0;
    right: 50%;
    transform: (-50%);
    rotate(45deg);
  }
  .arrow:nth-child(2)
  animation:
  arrow1 1.5s
  ease-in-out infinite;
  @keyframes scroll{
    0%{
      bottom: 80%;
      opacity: 1;
    }
    100%{
      bottom: 20%;
      opacity: 0;
    }
  }
  @keyframes arrow1 {
    100%{
      opacity: 0;
      top:100%;
    }
  }
  @keyframes arrow1 {
    100%{
      opacity: 0;
      top:100%;
    }
  }
  .about{

  padding-top: 5%;
    background-color: #f1f1f1;

  }
  .about h1{
    font-size: 40px;
    margin-left: 45%;
  
  }
  .con{
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    margin-bottom: -5px;
  
  }
  .abog h2{
    font-size: 25px;
    font-weight: 100;

  }
.abog{
  height: 150px;
  width: 150px;
  margin:150px;
  margin-top:0px;

}
.ins{
  width: 500px;
  margin-top: -250px;
  margin-left: -150px;
}
.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;

}
  .ablogo{
  width: 80px;
  cursor: pointer;}
  nav{
    padding-left: 200px;
  }
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none; 
    color: black;}


    .aboutdata{
      color: gray;
    }